In [4]:
#!pip install requests
# !pip install beautifulsoup4
# !pip install lxml
# !pip install html5lib

In [1]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime,timedelta
import pandas as pd

In [2]:
response = requests.get("https://www.theguardian.com/football/results").text

In [3]:
soup = BeautifulSoup(response, 'html.parser')

In [7]:
target_date = datetime.today() - timedelta(days=3)
formated_date = target_date.strftime("%A %d %B %Y")

matches = []
day_match = soup.find(lambda tag: tag.name == "div" and  formated_date in tag.text, class_="football-matches__day") 

if day_match:
    football_matches_table = day_match.findAll("div", class_="football-table__container")

    for match_table in football_matches_table:
        table = match_table.find("table")
        title = table.find("caption").a.text
        for match in table.findAll("tr")[1:]:
            team_names = match.findAll("span", class_="team-name__long")
            scores = match.findAll("div", class_="football-team__score")
            matches.append(
                {
                    "Date": target_date.strftime("%Y-%m-%d"),
                    "Competition":title,
                    "Team_a":team_names[0].text,
                    "Score_a":scores[0].text,
                    "Team_b":team_names[1].text,
                    "Score_b":scores[1].text
                }
            )

In [8]:
pd.DataFrame(matches)

,Date,Competition,Team_a,Score_a,Team_b,Score_b
0,2023-09-12,Euro 2024 qualifying,Belgium,5,Estonia,0
1,2023-09-12,Euro 2024 qualifying,Israel,1,Belarus,0
2,2023-09-12,Euro 2024 qualifying,Italy,2,Ukraine,1
3,2023-09-12,Euro 2024 qualifying,Malta,0,North Macedonia,2
4,2023-09-12,Euro 2024 qualifying,Norway,2,Georgia,1
5,2023-09-12,Euro 2024 qualifying,Romania,2,Kosovo,0
6,2023-09-12,Euro 2024 qualifying,Spain,6,Cyprus,0
7,2023-09-12,Euro 2024 qualifying,Sweden,1,Austria,3
8,2023-09-12,Euro 2024 qualifying,Switzerland,3,Andorra,0
9,2023-09-12,International friendlies,Germany,2,France,1
10,2023-09-12,International friendlies,Scotland,1,England,3
11,2023-09-12,International friendlies,Japan,4,Turkey,2