In [4]:
#!pip install requests
# !pip install beautifulsoup4
# !pip install lxml
# !pip install html5lib

In [1]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime,timedelta
import pandas as pd

In [2]:
response = requests.get("https://www.theguardian.com/football/results").text

In [3]:
soup = BeautifulSoup(response, 'html.parser')

In [4]:
target_date = datetime.today() - timedelta(days=1)
formated_date = target_date.strftime("%A %d %B %Y")

matches = []
day_match = soup.find(lambda tag: tag.name == "div" and  formated_date in tag.text, class_="football-matches__day") 

if day_match:
    football_matches_table = day_match.findAll("div", class_="football-table__container")

    for match_table in football_matches_table:
        table = match_table.find("table")
        title = table.find("caption").a.text
        for match in table.findAll("tr")[1:]:
            team_names = match.findAll("span", class_="team-name__long")
            scores = match.findAll("div", class_="football-team__score")
            matches.append(
                {
                    "Date": target_date.strftime("%Y-%m-%d"),
                    "Competition":title,
                    "Team_a":team_names[0].text,
                    "Score_a":scores[0].text,
                    "Team_b":team_names[1].text,
                    "Score_b":scores[1].text
                }
            )

In [6]:
pd.DataFrame(matches)

,Date,Competition,Team_a,Score_a,Team_b,Score_b
0,2023-09-15,Bundesliga,Bayern,2,Leverkusen,2
1,2023-09-15,La Liga,Rayo Vallecano,2,Alaves,0
2,2023-09-15,Ligue 1,PSG,2,Nice,3
3,2023-09-15,Championship,Southampton,1,Leicester,4
4,2023-09-15,Championship,Hull,1,Coventry,1
5,2023-09-15,League Two,Salford City,0,Notts County,2
6,2023-09-15,Scottish Championship,Ayr,0,Partick,4